<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        
            <img src="/public/img/logo.png" alt="Logo" width="45">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/about-us"> &nbsp About Us</a>
              <a class="nav-link" href="/contact">Contact</a>
              <a class="nav-link" href="/dashboard  ">Dashboard</a>
            </div>
        </div>  
        <div class="d-flex">
            <a href="/logout" class="btn btn-lg btn-primary">Logout</a>
        </div>    
    </div>    
</nav>
  