<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        
            <img src="/public/img/logo.png" alt="Logo" width="45">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <h2 style="color: white ;"> &nbsp   Winter2022</h2>   
            </div>
        </div>  
        <div class="d-flex">
            <button type="button" class="btn btn-info">Share</button>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>    
    </div>    
</nav>