<!-- This is the page where /dashboard/new will route to -->
<!-- This page will contain a form to add a new semester -->

<form action="/dashboard/new" method="post">
    <input type="text" id="name" name="name">
    <button type="submit">Submit</button>
</form>