<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Study Sense</title>
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <a href="/" class="logo"><img src="/public/img/logo.png" alt="logo" width="60" height="80"></a>
            <a href="/about-us">About Us</a>
            <a href="/contact">Contact</a>
            <div class="header-right">
                <a class="active" href="/login">Login/Signup</a>
            </div>
        </div>

        <div class="main">
            <br><br><br><br><br><br><br><br><br>
            <h1>Welcome to Study Sense!</h1>
            <br><br><br>
            <h2>A Task manager/Timetable maker designed for students and teachers</h2>
            <br><br><br>
            <a href="/register" class="coolbutton" style="vertical-align:middle"><span>Signup</span></a>
            <br><br><br>
            <p>we will add something that talks about the website here</p>
        </div>
    </div>
</body>

</html>